html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    --baseColorLight: #81d4fa;
    --textColorLight: #201d1d;
    --blockColorLight: #FFFFFF44;

    --baseColorDark: #545c60;
    --textColorDark: #f8f0f0;
    --blockColorDark: #00000019;

    --shadowColor: #22222222;
    --borderColor: #8e31e6;
    /* --borderColor: 142, 49, 230; */
    --linkColor: orange;
    --btnColor: #74D774;
    --btnRedColor: #d83535;
    --errColor: #E77474;
    --greenRow: #88FF667F;
    --redRow: #E774747F;

    --baseColor: var(--baseColorLight);
    --textColor: var(--textColorLight);
    --blockColor: var(--blockColorLight);

    background-color: var(--baseColor);
    color: var(--textColor);

    background-color: var(--baseColor);
    display: flex;
    justify-content: center;
    align-items: center;

}

body.dark {
    transition: var(--baseColor) 0.2s, var(--textColor) 0.2s;
    --baseColor: var(--baseColorDark);
    --textColor: var(--textColorDark);
    --blockColor: var(--blockColorDark);
}

* {
    text-align: center;
    box-sizing: border-box;
    font-family: "Gintronic", "Nova Mono", "Roboto Mono", "Ubuntu Mono", "Courier New", "Courier", "monospace";
}

input[type="text"] {
    border-radius: 0.6rem;
    color: var(--textColor);
    padding: 1rem 0.2rem;
    font-size: 1.3rem;
    border: none;
    display: block;
    box-sizing: border-box;
    transition:
        border 0.2s,
        box-shadow 0.2s;
    box-shadow:
        inset -0.6em 0px 7px -6px #00000000,
        inset 0.6em 0px 7px -6px #00000000;
    background: var(--blockColor);
    border-bottom: 0.1rem solid transparent;

    &:hover,
    &:focus {
        border-bottom: 0.1rem solid var(--borderColor);
        outline: none;
    }

    &.shadowLeft {
        box-shadow:
            inset -0.6em 0px 7px -6px #00000000,
            inset 0.6em 0px 7px -6px var(--shadowColor);
    }

    &.shadowRight {
        box-shadow:
            inset -0.6em 0px 7px -6px var(--shadowColor),
            inset 0.6em 0px 7px -6px #00000000;
    }

    &.shadowLeft.shadowRight {
        box-shadow:
            inset -0.6em 0px 7px -6px var(--shadowColor),
            inset 0.6em 0px 7px -6px var(--shadowColor);
    }
}

a {
    color: var(--linkColor);
}